/* .team-area{
    margin-top: 3%;
    margin-bottom: 3%;
} */

.single-member {
    box-shadow: rgba(58, 78, 95, 0.2) 0 10px 16px, rgba(58, 78, 95, 0.05) 0 -5px 16px;
    height: 470px;
    border-radius: 15px;
}

.single-member .team-heading {
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}

.single-member .member-img {
    position: relative;
    bottom: 40px;
    margin-bottom: -40px;
}

.single-member .member-img img {
    width: 75px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255, 0.5);
}

.member-info h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.member-info h3 {
    font-size: 16px;
    text-transform: uppercase;
}

.member-info p {
    width: 90%;
    margin: auto;
    text-align: justify;
    margin-bottom: 10px;
    padding: 0 5px;
    height: 100px;
}

button {
    margin-bottom: 20px;
   
}