.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #7de9ff, #00b5da, #5148ff);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, #7de9ff, #00b5da, #5148ff); */
    background: linear-gradient(90deg, rgba(125, 233, 255, 1) 0%, rgba(0, 181, 218, 1) 29%, rgba(81, 72, 255, 1) 100%);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}